{{ define "main" }}

<div class="relative h-[680px] md:h-[880px]">
  <div class="absolute top-[386px] left-12">
    <div class="font-ivymode xl:text-[160px] md:text-[98px] text-[60px] leading-none tracking-[-2px] text-stone-200"
      id="typing">
      Product
    </div>
    <div
      class="mt-3 md:mt-6 flex items-center gap-11 font-futura font-medium xl:text-[160px] md:text-[98px] text-[60px] leading-none tracking-[-1px] text-white"
      id="typingSecond">
      <span class="font-light" id="andMark">&</span>
      <span class="italic" id="rolling">Product</span>
    </div>
  </div>


</div>
<div class="flex -mx-6 xl:-mx-28 mb-8 ">
  <div class="relative flex-[1200] pt-28 pb-24 min-w-0 xl:px-28 border-r border-b border-zinc-900">
    <p class="text-4xl font-regular leading-snug text-zinc-900">

      <!-- Hi, I'm a designer who works in the space between <span
        class="2xl:block"> physical products and digital experiences,<br> using a seamless perspective to define the
        core of a problem and derive its solution.</span></p> -->

      Hi, I'm a product designer who works in the space between <span class="2xl:block">physical and digital to get to
        the core of
        problems. <span class="2xl:block">From there, I design solutions that work for users and work in
          production.</span></span>
    </p>

    <button class="absolute bottom-0 right-0 bg-zinc-300 hover:bg-zinc-400 text-zinc-900 px-6 py-3 text-2xl">
      About me
    </button>
  </div>
  <div class="flex-[720] min-w-0 border-b border-zinc-900">

  </div>
</div>
{{ $partial := print "home/" .Site.Params.homepage.layout ".html" }}
{{ if templates.Exists ( printf "partials/%s" $partial ) }}
{{ partial $partial . }}
{{ else }}
{{ partial "home/profile.html" . }}
{{ end }}


{{ end }}