{{ if not .IsHome }}
  <div class="min-h-[148px]"></div>
{{ end }}
<div class="fixed inset-x-0 xl:px-28 sm:px-6 z-100">
  <div
    id="menu-blur"
    class="absolute opacity-0 inset-x-0 top-0 h-full single_hero_background nozoom backdrop-blur-2xl shadow-2xl mt-4 xl:mx-28"></div>
  <div class="relative headnav">
    {{ partial "header/basic.html" . }}
  </div>
</div>
{{/* 헤더 전용 blur 스크립트 */}}
{{ $headerBlur := resources.Get "js/header-blur.js" }}
{{ $headerBlur = $headerBlur | resources.Minify | resources.Fingerprint }}
<script
  type="text/javascript"
  src="{{ $headerBlur.RelPermalink }}"
  integrity="{{ $headerBlur.Data.Integrity }}"
  data-header-blur-id="menu-blur"
  data-scroll-divisor="300"
  data-sticky-threshold="16"></script>